/*************************************
* HTML elements
**************************************/

html {
	overflow: auto;
}

h1 {
	color: black;
    font-weight: bold;
}

/*************************************
* Bootstrap UI elements
**************************************/

.badge {

	&.completion-progress {
	    padding: 12px 5px;
	    font-size: 17px;
	    border-radius: 20px;
	    min-width: 43px;
	    background-color: #00BFFF;
	}
}

.panel {
	&.panel-default {
		.panel-heading {
			background-color: #00BFFF;	
			color: #FFFFFF;
		}
	}
}

.modal-header {
	border-bottom: none;

	.modal-title {
		color: #000000;
	}
}

.modal-footer {
	border-top: none;

	.btn {
		background: none;
		color: #00BFFF;
		font-weight: bold;

		&.btn-more-info {
			float: left;
		}

		&.btn-got-it {

		}
	}
}

@media (min-width: $screen-sm) {

	.modal-dialog {
	    margin-top: 200px;
	}	
}


/*************************************
* Layout elements
**************************************/

.page {
	margin-left: 25%;
}

.top-header {
	position: fixed;
}

.side-navigation-wrapper {
	position: fixed;
	ul.side-navigation {
		.badge {
			margin-right: 10px;
		}

		li {
			a {

				&.active {
					.badge {
						background-color: #00BFFF;
					}	
				}
			}
		}	
	}	
}

